[user]
  name = Chris Thorn
  email = thorncp@gmail.com

[github]
  user = thorncp
  password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'

[alias]
  co = checkout
  d = diff
  dc = diff --cached
  wd = diff --word-diff
  aa = add -A
  ap = add -p
  s = status -sb
  ci = commit
  b = branch
  amend = commit --amend -C HEAD
  l = "!git ll -12"
  ll = "log --graph --pretty='format:%C(yellow)%h %C(green)%ar %C(cyan)%an %C(red)%d %C(reset)%s'"
  la = "!git l --all"
  lt = "!git l --simplify-by-decoration"
  rbc = rebase --continue
  rba = rebase --abort

[color]
  branch = auto
  diff = auto
  status = auto
  grep = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  editor = "mvim -v"
  excludesfile = /Users/cthorn/.gitignore_global
  whitespace = cr-at-eol
  autcrlf = false
[push]
  default = upstream
